div{
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    color: red;
    background: url('./5e07d6750224327f77ad9f017c8c639f.jpg');
    background-size: 100%;
    background-repeat: no-repeat;
}